.header {
  background-color: #41729F; /*blue #6A6B83*/
  padding: 40px .25px;
  color: white;
  text-align: center;
  width: 100%;
}

#listIcon {
  position: fixed;
  fill: black;
  font-size: 50px;
  left: 28px;
  top: 27px;
}

#signOut {
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
}

#signOut:hover {
  background-color: blue;
}